body{
background-color:#c3edea;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width:5px;
  width :5%;
}
h1{
  color:#e19999;
}
h2{
  color:#e19999;
}
h3{
  color:#e19999;
}
h4{
  color:#e19999;
}
